body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #C4E9E8 url(./images/back.png) repeat-x;
  /* background-size: cover;
  background-attachment: fixed; */
  /* width: 920px; */
}

.container {
  background-color: #fff;
  border-radius: 30px;
  padding: 3%;

}
.containergrass{
  background: transparent url(./images/grass.png) repeat-x bottom;
}



.logo {
  width: 100%;
  border-radius: 10px;
}

nav {

  background-color: #53C7FD;
  border-radius: 20px;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

nav ul {
  padding-top: 5px;

}

nav li {
  display: inline-block;
  /* padding: 5px 10px; */
  text-align: center;
  color: #fff;
}

nav a {

  padding: 7px 20px 5px 15px;
  font-size: 25px;
}

nav a:hover {
  color: #E5017D;
}

.dropbtn {
  background-color: #53C7FD;
  /* padding: 5px 10px; */
  color: #fff;
  border: none;
  font-size: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #53C7FD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #E5017D;
}

.mainIndex {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

main h1 {
  color: #E5017D;
}

main h2 {
  color: #53C7FD;
}

.article-zaguate {
  width: 70%;
  text-align: justify;
}

.texto {
  width: 70%;
}


.perrito-main {
  float: right;
  border: double;
  margin-left: 10px;


}

.aside-right {
  width: 25%;
}

.aside-div {

  width: auto;
  background-color: #F5FEFF;
  border-radius: 10px;
  border: 2px solid #C9E5E9;
  padding: 5px;
  margin-top: 5px;
}

.aside-div h3 {
  color: rgb(91, 201, 68);
}

.aside-div li {
  list-style: none;
}


footer {
  background-color: #53C7FD;
  border-radius: 10px;
  margin-top: 10px;

}

footer p {
  text-align: center;
  color: #fff;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;

}

footer li {
  padding: 5px 10px;
  border-right: 1px solid #fff;
  text-align: center;
}

footer a {
  color: #fff;
}

.li-last {
  border-right: 0px;
}

#pastoo {
  width: 100%;
}

.pasto {
  position: relative;

}

.noticias {
  display: flex;
  justify-content: space-between;
}

.noticia {
  text-align: justify;
  width: 45%;
}

table {
  width: 100%;
}

table caption {
  background-color: #53c7fd;
  caption-side: initial;
  height: 45px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}

table thead {

  background-color: #E5017D;
  color: white;
}

table tbody {
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.imgTabla {
  height: 65px;
  width: 80px;
}

.back-verde {
  background-color: #c8eae9;
}

tfoot {
  background-color: #E5017D;
}

@media screen and (max-width: 720px){
  .noticias{
    display: block;
  }
  .noticia{
    width: 100%;
  }
}